body {
   color: #333;
   background-color: white;
   margin-top: 2em;
   margin-left: 8%;
   margin-right: 8%;
   font-size: 16px;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
   width: 800px;
   margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: .5em;
}


a {
   text-decoration: none;
   color: #2C82C9;
   display: inline-block;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   white-space: nowrap;
   font-size: 18px;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
   text-decoration: none;
   color: #2C82C9;
   display: inline-block;
   padding: 8px 0px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   font-size: 18px;
}


p {
   margin: 15px 0px;
   font-weight: 400;
   font-style: normal;
   /*font-size: 21px;*/
   line-height: 1.58;
   letter-spacing: -.003em;
}

.partheading {
   font-size: 70%;
}

.chapterheading {
   font-size: 70%;
}

pre {
    margin-left: 2em;
}

ol {
   list-style-type: decimal;
}

ol ol {
   list-style-type: lower-alpha;
}

ol ol ol {
   list-style-type: lower-roman;
}

ol ol ol ol {
   list-style-type: upper-alpha;
}

.footnote {
   font-size: 75%;
}

.footnote p {
   font-size: 14px;
   margin: 10px 20px;
   font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

.footnote a {
   padding: 0;
   padding-right: 5px;
   vertical-align: middle;
}

.epigraph {
/*   text-align: right; */
   font-size: 75%; 
} 

.navigation {
   text-align: right;
}

.navigation a {
   display: inline-block;
   color: #E01931;
   cursor: auto;
   width: auto;
   margin-right: 0;
   margin-left: 10px;
}

.smallprint {
   color: gray;
   font-size: 75%;
   text-align: right;
}

.smallprint hr {
   text-align: left;
   width: 40%;
}

